.mint {
  background-color: #5ccc81; }

.mint-darker {
  background-color: #4ead6e; }

.mint-lighter {
  background-color: #7dd69a; }

.dandelion {
  background-color: #f8e714; }

.dandelion-darker {
  background-color: #f8d014; }

.dandelion-lighter {
  background-color: #f9ec43; }

.squash {
  background-color: #f5a623; }

.squash-darker {
  background-color: #d08d1e; }

.squash-lighter {
  background-color: #f7b84f; }

.lipstick {
  background-color: #e6393f; }

.lipstick-darker {
  background-color: #c43036; }

.lipstick-lighter {
  background-color: #eb6165; }

.deep-sky {
  background-color: #439ad9; }

.deep-sky-darker {
  background-color: #3983b8; }

.deep-sky-lighter {
  background-color: #69aee1; }

.black {
  background-color: #000000; }

.dark {
  background-color: #1a2833; }

.dark-slate-blue {
  background-color: #14334d; }

.light-navy-blue {
  background-color: #2a5578; }

.battleship-grey {
  background-color: #616f80; }

.bluish-grey {
  background-color: #808d9c; }

.white {
  background-color: #ffffff; }

.cloudy-blue {
  background-color: #b8c1cc; }

.pale-grey-1 {
  background-color: #d8dee6; }

.pale-grey-2 {
  background-color: #ebf0f5; }

.pale-grey-3 {
  background-color: #f7fafc; }

.very-light-blue {
  background-color: #f0f8ff; }
